<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/buscarHabitacion.css">
    <script src="../assets/js/estilos.js"></script>
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container-grid">
        <nav id="lareralNavbar">
            <div class="blueSectionLateralNavbar">
                <div class="vectorBlueSectionLateralNavbar">
                    <img src="../assets/img/index/opiniones/Vector-opinion.png" >
                </div>

                <div class="logoLateralNavbarMovile">
                    <img src="../assets/img/hotelia campana.svg">
                </div>

                <div class="logoLateralNavbarPC">
                    <img src="../assets/img/Hotelia horizontal blanco.svg">
                </div>
                    
                <div class="profileLateralNavbar">
                    <img src="../assets/img/index/opiniones/user1.png">
                </div>

                <div class="namePC">
                    <p>Diego Rodrigez</p>
                </div>

                <div class="emailPC">
                    <p>diegorodri1234@gmail.com</p>
                </div>

            </div>

            <div class="balackSectionLateralNavbar">
                <div class="icono1">
                    <i class="fa-solid fa-bed"></i>
                </div>
                <div class="icono1Text">
                    <h5>Habitaciones</h5>
                </div>
    
                <div class="icono2">
                    <i class="fa-solid fa-bell-concierge iFeature"></i>
                </div>
                <div class="icono2Text">
                    <h5>Mis reservas</h5>
                </div>
    
                <div class="icono3">
                    <i class="fa-solid fa-bed"></i>
                </div>
                <div class="icono3Text">
                    <h5>Matix Pacign</h5>
                </div>
    
                <div class="icono4">
                    <i class="fa-solid fa-bell-concierge iFeature"></i>
                </div>
                <div class="icono4Text">
                    <h5>Matix Pacign</h5>
                </div>
    
    
                <div class="icono5">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </div>
                <div class="icono5Text">
                    <h5>Cerrar seción</h5>
                </div>
            </div>
        </nav>
    

        <div id="principalSection">

            <div class="tituloPrincipal">
                <h3>Busqueda de habitación</h3>
            </div>

            <section class="form">
                <form action="" id="form">
                    <div class="label1 centrar"><label>Entrada:</label></div>
                    <input class="input1" type="date">

                    <div class="label2 centrar"><label>Salida:</label></div>
                    <input type="date" class="input2">

                    <div class="label3 centrar"><label>Adultos:</label></div>
                    <input type="number" class="input3">

                    <div class="label4 centrar"><label>Niños:</label></div>
                    <input type="number" class="input4">

                    <button class="blackButtonForm">Ver habitaciones disponibles</button>
                </form>
            </section>


            <section id="ResultadosBusquedaHabitacion1">
                <div class="textoCardHabitacion centrar">
                    <h4>Habitación doble</h4>
                </div>
                
                <div class="imgHabitacionCard" id="imgHabitacionCardId" >
                    <img src="../assets/img/habitaciones/habitacion1.png" onmouseover="imgBuscarHabitHover()">
                </div>

                <div class="imgHabitacionCardHover" id="imgHabitacionCardHoverr">
                    <div class="plusIcon centrar">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    
                    <div class="hoverText centrar">
                        <p>Ver más</p>
                    </div>
                </div>

                <div class="precioHabitacion centrar">
                    <h2>$128.000</h2>
                </div>

                <button class="botonHabitacion">Reservar</button>
            </section>



            <section id="ResultadosBusquedaHabitacion2">
                <div class="textoCardHabitacion centrar">
                    <h4>Habitación doble</h4>
                </div>
                
                <div class="imgHabitacionCard" id="imgHabitacionCardId" >
                    <img src="../assets/img/habitaciones/habitacion1.png" onmouseover="imgBuscarHabitHover()">
                </div>

                <div class="imgHabitacionCardHover" id="imgHabitacionCardHoverr">
                    <div class="plusIcon centrar">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    
                    <div class="hoverText centrar">
                        <p>Ver más</p>
                    </div>
                </div>

                <div class="precioHabitacion centrar">
                    <h2>$128.000</h2>
                </div>

                <button class="botonHabitacion">Reservar</button>
            </section>



            <section id="ResultadosBusquedaHabitacion3">
                <div class="textoCardHabitacion centrar">
                    <h4>Habitación doble</h4>
                </div>
                
                <div class="imgHabitacionCard" id="imgHabitacionCardId" >
                    <img src="../assets/img/habitaciones/habitacion1.png" onmouseover="imgBuscarHabitHover()">
                </div>

                <div class="imgHabitacionCardHover" id="imgHabitacionCardHoverr">
                    <div class="plusIcon centrar">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    
                    <div class="hoverText centrar">
                        <p>Ver más</p>
                    </div>
                </div>

                <div class="precioHabitacion centrar">
                    <h2>$128.000</h2>
                </div>

                <button class="botonHabitacion">Reservar</button>
            </section>



            <section id="ResultadosBusquedaHabitacion4">
                <div class="textoCardHabitacion centrar">
                    <h4>Habitación doble</h4>
                </div>
                
                <div class="imgHabitacionCard" id="imgHabitacionCardId" >
                    <img src="../assets/img/habitaciones/habitacion1.png" onmouseover="imgBuscarHabitHover()">
                </div>

                <div class="imgHabitacionCardHover" id="imgHabitacionCardHoverr">
                    <div class="plusIcon centrar">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    
                    <div class="hoverText centrar">
                        <p>Ver más</p>
                    </div>
                </div>

                <div class="precioHabitacion centrar">
                    <h2>$128.000</h2>
                </div>

                <button class="botonHabitacion">Reservar</button>
            </section>


        </div>

    </div>
</body>
</html>